table{
border-collapse: collapse;
}

#titre{
    color: #ff0000;
    display: flex;
    justify-content: center;
    font-family: 'Alegreya', serif;
}
#soustitre{
    display: flex;
    justify-content: center;
}

td{
    border: 1px solid rgb(255, 255, 255);
    padding: 30px;
    color:rgb(255, 255, 255)
}

.tableau{
    position: absolute;
    top: 20%;
    /* left: 50%;
    transform: translate(-50%, -50%); */
}

main{
    display: flex;
    justify-content: center;
    background-color: aqua; 
    height: 130em;
}

body{
    background-color: black ; 
}
footer{
    color: red;
    display: flex;
    justify-content: center;
    background-color: red;

}
header{
    background-color: sandybrown;
    height: 10em;
}
.transparent{
    color: aqua
}